:root {
  --cor-fundo: #fdfdfb;
  --fonte-principal:'Roboto Condensed', sans-serif;
}
*{
    font-family: var(--fonte-principal);
}
body {
  background-color: var(--cor-fundo);
}
main {
  display: flex;
}
.titulo__exercicio{
    text-align: center;
    padding: 30px 0 ;
    font-weight: bold;
    font-size: 25px;
}
.container {
    margin: 10em auto;
}
form input {
  padding: 8px 30px;
}
input[type="submit"] {
  font-weight: bold;
  margin-left: 30px;
}
ul li{
    list-style-type: disc;
    padding: 0 0 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
